<div ng-show="showContactDetails">
	<h3 class="center">Contact Us</h3>
	<h3 class="center flow-text">Hospitality</h3>
	<div class="row">
		<div class="col s2"><br></div>
		<div class="col s4">
			<div class="card hoverable">
				<div class="card-content center ">
					<a href="https://www.facebook.com/SanskarIITB" target="_blank"><h5>Sanskar Jain</h5></a>
					<p>sanskar@moodi.org</p>
					<p>+91-9167852061</p>
				</div>
			</div>
		</div>
		<div class="col s4">
			<div class="card hoverable">
				<div class="card-content center ">
					<a href="https://www.facebook.com/HemantPhalakIITB" target="_blank"><h5>Hemant Phalak</h5></a>
					<p>hemant@moodi.org</p>
					<p>+91-9167842573</p>
				</div>
			</div>
		</div>
		<div class="col s2"><br></div>
	</div>
	<br>
	<h5 class="center flow-text">Technical</h5>
	<div class="row">
		<div class="col s2"><br></div>
		<div class="col s4">
			<div class="card hoverable">
				<div class="card-content center ">
					<a href="https://www.facebook.com/soham.gaunekar" target="_blank"><h5>Soham Gaunekar</h5></a>
					<p>soham@moodi.org</p>
					<p>+91-7738690958</p>
				</div>
			</div>
		</div>
		<div class="col s4">
			<div class="card hoverable">
				<div class="card-content center ">
					<a href="https://facebook.com/rohit.rango" target="_blank"><h5>Rohit Kumar Jena</h5></a>
					<p>rohit.rango@gmail.com</p>
					<p>+91-9583532882</p>
				</div>
			</div>
		</div>
		<div class="col s2"><br></div>
	</div>
</div>

<div ng-hide="showContactDetails">
	<div class="progress blue lighten-3">
	    <div class="indeterminate blue darken-1"></div>
	</div>
</div>