<div ng-show="showInstructions">
	<h3 class="center">Guidelines</h3>
	<br>
	<div class="flow-text left-align">
		<ol>
			<li><b>Dashboard</b> : shows recent post from Mood Indigo page.You can share the post directly from the dashboard. Sharing instantly increases your points and corresponding likes on your shared post also adds to your score.</li>
			<li><b>Give us an Idea</b> : Contribute to make Mood Indigo better than ever by sharing your valuable ideas and suggestions.It will boost your score after verification of Idea.</li>
			<li><b>Suggest a venue</b> : Suggest a college/event venue for Multicity (Prelims).</li>
			<li><b>Leaderboard</b> : It shows standing among all the College Representatives across India . Best CRs will receive prizes from Mood Indigo fortnightly. A lot of bonus points will be awarded to CRs for their exceptional work and will be conveyed to them by the Hospitality & PR Head.</li>
			<li><b>Update details</b> : You can update your profile details here.</li>
			
		</ol>
	</div>
	<!-- content -->
</div>

<div ng-hide="showInstructions">
	<div class="progress blue lighten-3">
	    <div class="indeterminate blue darken-1"></div>
	</div>
</div>