<div ng-show="showPrizesDetails">
	<h3 class="center">Winners</h3>
	<p class="flow-text center"> Win exciting prizes and Mood Indigo merchandise every fortnight!</p>
	<hr>
	<h2 class="flow-text center"><b>Hall of Fame</b></h2>
	<table class="flow-text highlight">
		<thead>
			<tr>
				<th>Name</th>
				<th>City</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Jelson Chako</td>
				<td>Pune</td>
			</tr>
			<tr>
				<td>Priyansh Jain</td>
				<td>Jaipur</td>
			</tr>
			<tr>
				<td>Lakshay Kalwar</td>
				<td>Modinagar</td>
			</tr>
			<tr>
				<td>Tushar Bajpai</td>
				<td>Ghaziabad</td>
			</tr>
			<tr>
				<td>Charchil Jain</td>
				<td>Indore</td>
			</tr>
			<tr>
				<td>Udit Agrawal</td>
				<td>Dewas</td>
			</tr>
		</tbody>
	</table>
</div>

<div ng-hide="showPrizesDetails">
	<div class="progress blue lighten-3">
	    <div class="indeterminate blue darken-1"></div>
	</div>
</div>