<div ng-show="showVenueBox">
	<form name="venueForm" novalidate>
		<h4 class="center">Suggest us a venue where we can conduct Mood Indigo Multicity eliminations.</h4>
		<div class="row">
			<div class="col s6 input-field">
				<input type="text" ng-model="venue.name" class="form-control" required="required">
				<label for="name">Venue name</label>
			</div>
			<div class="col s6 input-field">
				<input type="text" ng-model="venue.address" class="form-control" required="required">
				<label for="address">Venue Address</label>
			</div>
		</div><br>
		<div class="row">
			<div class="col s6 input-field">
				<input type="text" ng-model="venue.phone" class="form-control">
				<label for="contact">Contact number</label>
			</div>
			<div class="col s6 input-field">
				<input type="text" ng-model="venue.city" class="form-control" required="required">
				<label for="city">City</label>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col s12 input-field">
				<textarea class="materialize-textarea" ng-model="venue.remarks" required>Remarks here!</textarea>
				<label>Remarks</label>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col s6">
				<button ng-class="{disabled : venueForm.$invalid}" class="btn green darken-1" style="width:100%" ng-click="sendVenueDetails()" ng-disabled="venueForm.$invalid"><i class="fa fa-map-marker"></i>&nbsp;&nbsp;&nbsp;Send Venue details!</button>
			</div>
			<div class="col s6">
				<button class="btn red darken-1" style="width: 100%" ng-click="goHome()"><i class="fa fa-home"></i>&nbsp;&nbsp;&nbsp;Back to home!</button>
			</div>
		</div>

	</form>
</div>

<div class="well" ng-hide="showVenueBox">
	<div class="progress blue lighten-3">
	    <div class="indeterminate blue darken-1"></div>
	</div>
</div>
